@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
//font-family: 'Rubik', sans-serif;
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayBlue: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Rubik', sans-serif;
	position: relative;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 5%;
	#logo {
		cursor: pointer;
		transform: scale(1.5);
	}
	li,
	a,
	button {
		font-weight: 500;
		font-size: 16px;
		color: $darkBlue;
		text-decoration: none;
	}
	.nav-links {
		list-style: none;
		li {
			display: inline-block;
			padding: 0 20px;
		}
		a {
			transition: all 0.3s ease 0s;
			font-size: 1.5rem;
		}
		a:hover {
			color: $softRed;
		}
	}
	button {
		padding: 15px 40px;
		background-color: $softRed;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		// transition: all 0.3s ease 0s;
		font-size: 1.5rem;
	}
	button:hover {
		background-color: white;
		border: 3px solid $softRed;
		color: $softRed;
	}
}

.top {
	height: 40vh;
	padding-bottom: 500px;
	padding-top: 50px;
	.leftSide {
		width: 45%;
		position: absolute;
		// bottom: 45%;
		padding-left: 50px;
		h1 {
			font-size: 3rem;
			padding-bottom: 15px;
			color: $darkBlue;
		}
		p {
			color: $grayBlue;
			padding-bottom: 25px;
		}

		#chromeButton {
			padding: 20px;
			border-radius: 10px;
			border: none;
			background-color: $softBlue;
			color: white;
			font-size: 1rem;
		}
		#chromeButton:hover {
			cursor: pointer;
			background-color: white;
			color: $softBlue;
			border: 2px solid $softBlue;
		}
		#firefoxButton {
			padding: 20px;
			border-radius: 10px;
			border: none;
			background-color: rgb(235, 235, 235);
			color: $darkBlue;
			font-size: 1rem;
		}
		#firefoxButton:hover {
			cursor: pointer;
			background-color: white;
			border: 2px solid $grayBlue;
		}
		button:hover {
			cursor: pointer;
		}
	}
	.rightSide {
		float: right;
		position: absolute;
		right: 10px;
		// bottom: 30%;
	}
}
.features {
	padding-top: 50px;
	margin-bottom: -50px;
	// background-color: coral;
	.features-head {
		text-align: center;
		width: 31%;
		margin: auto;
		h1 {
			color: $darkBlue;
		}
		p {
			color: $grayBlue;
		}
	}
	.categories {
		display: flex;
		justify-content: center;
		h4 {
			padding: 20px 50px;
		}
	}

	.carousel-inner {
		height: 600px;
	}
	.carousel-indicators {
		// background-color: $grayBlue;
		position: absolute;
		top: -20px;
		height: 30px;
		.indicator-color {
			background-color: $softRed;
			height: 10px;
			width: 200px;
			border-radius: 50px;
			margin: 0 40px;
		}
	}
	.carousel-control-prev {
		background-color: $grayBlue;
		height: 50px;
		width: 50px;
		position: absolute;
		top: 45%;
	}
	.carousel-control-next {
		background-color: $grayBlue;
		height: 50px;
		width: 50px;
		position: absolute;
		top: 45%;
	}
}

.slideOne {
	.slideOneLeft {
		padding-left: 50px;
		padding-top: 50px;
	}
	.slideOneRight {
		width: 35%;
		position: absolute;
		right: 100px;
		bottom: 30%;
		h2 {
			color: $darkBlue;
			padding-bottom: 10px;
		}
		p {
			color: $grayBlue;
		}
		button {
			padding: 15px 25px;
			border: none;
			border-radius: 10px;
			background-color: $softBlue;
			color: white;
		}
	}
}
.slideTwo {
	.slideTwoLeft {
		padding-left: 60px;
		padding-top: 50px;
	}
	.slideTwoRight {
		width: 30%;
		position: absolute;
		right: 100px;
		bottom: 30%;
		h2 {
			color: $darkBlue;
			padding-bottom: 10px;
		}
		p {
			color: $grayBlue;
		}
		button {
			padding: 15px 25px;
			border: none;
			border-radius: 10px;
			background-color: $softBlue;
			color: white;
		}
	}
}
.slideThree {
	.slideThreeLeft {
		padding-left: 60px;
		padding-top: 50px;
	}
	.slideThreeRight {
		width: 30%;
		position: absolute;
		right: 100px;
		bottom: 30%;
		h2 {
			color: $darkBlue;
			padding-bottom: 10px;
		}
		p {
			color: $grayBlue;
		}
		button {
			padding: 15px 25px;
			border: none;
			border-radius: 10px;
			background-color: $softBlue;
			color: white;
		}
	}
}
.hr {
	border-top: 6px dotted $grayBlue;
	background-color: #fff;
	width: 80%;
	margin: auto;
	padding: 10px;
}
.addOn {
	.extensions {
		text-align: center;
		width: 35%;
		margin: auto;
		h2 {
			color: $darkBlue;
			padding-bottom: 10px;
			padding-top: 20px;
		}
		p {
			color: $grayBlue;
		}
	}
	.extensionCards {
		text-align: center;
		width: 65%;
		margin: auto;
		display: flex;
		padding: 25px;
		margin-bottom: 25px;

		.chrome {
			// background-color: blue;
			height: 350px;
			width: 250px;
			border-radius: 15px;
			box-shadow: 2px 2px 2px 2px $grayBlue;
			img {
				margin: 15px 0 25px 0;
			}
			h3 {
				color: $darkBlue;
			}
			p {
				color: $grayBlue;
			}
			hr {
				border-top: 6px dotted $grayBlue;
				background-color: #fff;
				width: 100%;
			}
			button {
				margin-top: 20px;
				padding: 10px;
				border: none;
				border-radius: 10px;
				background-color: $softBlue;
				color: white;
			}
			button:hover {
				cursor: pointer;
				background-color: white;
				border: 2px solid $softBlue;
				color: $softBlue;
			}
		}
		.firefox {
			// background-color: red;
			height: 350px;
			width: 250px;
			border-radius: 15px;
			margin: 0 50px;
			box-shadow: 2px 2px 2px 2px $grayBlue;
			img {
				margin: 15px 0 25px 0;
			}
			h3 {
				color: $darkBlue;
			}
			p {
				color: $grayBlue;
			}
			hr {
				border-top: 6px dotted $grayBlue;
				background-color: #fff;
				width: 100%;
			}
			button {
				margin-top: 20px;
				padding: 10px;
				border: none;
				border-radius: 10px;
				background-color: $softBlue;
				color: white;
			}
			button:hover {
				cursor: pointer;
				background-color: white;
				border: 2px solid $softBlue;
				color: $softBlue;
			}
		}
		.opera {
			// background-color: green;
			height: 350px;
			width: 250px;
			border-radius: 15px;
			box-shadow: 2px 2px 2px 2px $grayBlue;
			img {
				margin: 15px 0 25px 0;
			}
			h3 {
				color: $darkBlue;
			}
			p {
				color: $grayBlue;
			}
			hr {
				border-top: 6px dotted $grayBlue;
				background-color: #fff;
				width: 100%;
			}
			button {
				margin-top: 20px;
				padding: 10px;
				border: none;
				border-radius: 10px;
				background-color: $softBlue;
				color: white;
			}
			button:hover {
				cursor: pointer;
				background-color: white;
				border: 2px solid $softBlue;
				color: $softBlue;
			}
		}
	}
}
