@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 5%;
}

header #logo {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header li,
header a,
header button {
  font-weight: 500;
  font-size: 16px;
  color: #252b46;
  text-decoration: none;
}

header .nav-links {
  list-style: none;
}

header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

header .nav-links a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 1.5rem;
}

header .nav-links a:hover {
  color: #fa5757;
}

header button {
  padding: 15px 40px;
  background-color: #fa5757;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

header button:hover {
  background-color: white;
  border: 3px solid #fa5757;
  color: #fa5757;
}

.top {
  height: 40vh;
  padding-bottom: 500px;
  padding-top: 50px;
}

.top .leftSide {
  width: 45%;
  position: absolute;
  padding-left: 50px;
}

.top .leftSide h1 {
  font-size: 3rem;
  padding-bottom: 15px;
  color: #252b46;
}

.top .leftSide p {
  color: #9194a1;
  padding-bottom: 25px;
}

.top .leftSide #chromeButton {
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: #5368df;
  color: white;
  font-size: 1rem;
}

.top .leftSide #chromeButton:hover {
  cursor: pointer;
  background-color: white;
  color: #5368df;
  border: 2px solid #5368df;
}

.top .leftSide #firefoxButton {
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: #ebebeb;
  color: #252b46;
  font-size: 1rem;
}

.top .leftSide #firefoxButton:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #9194a1;
}

.top .leftSide button:hover {
  cursor: pointer;
}

.top .rightSide {
  float: right;
  position: absolute;
  right: 10px;
}

.features {
  padding-top: 50px;
  margin-bottom: -50px;
}

.features .features-head {
  text-align: center;
  width: 31%;
  margin: auto;
}

.features .features-head h1 {
  color: #252b46;
}

.features .features-head p {
  color: #9194a1;
}

.features .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .categories h4 {
  padding: 20px 50px;
}

.features .carousel-inner {
  height: 600px;
}

.features .carousel-indicators {
  position: absolute;
  top: -20px;
  height: 30px;
}

.features .carousel-indicators .indicator-color {
  background-color: #fa5757;
  height: 10px;
  width: 200px;
  border-radius: 50px;
  margin: 0 40px;
}

.features .carousel-control-prev {
  background-color: #9194a1;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
}

.features .carousel-control-next {
  background-color: #9194a1;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
}

.slideOne .slideOneLeft {
  padding-left: 50px;
  padding-top: 50px;
}

.slideOne .slideOneRight {
  width: 35%;
  position: absolute;
  right: 100px;
  bottom: 30%;
}

.slideOne .slideOneRight h2 {
  color: #252b46;
  padding-bottom: 10px;
}

.slideOne .slideOneRight p {
  color: #9194a1;
}

.slideOne .slideOneRight button {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background-color: #5368df;
  color: white;
}

.slideTwo .slideTwoLeft {
  padding-left: 60px;
  padding-top: 50px;
}

.slideTwo .slideTwoRight {
  width: 30%;
  position: absolute;
  right: 100px;
  bottom: 30%;
}

.slideTwo .slideTwoRight h2 {
  color: #252b46;
  padding-bottom: 10px;
}

.slideTwo .slideTwoRight p {
  color: #9194a1;
}

.slideTwo .slideTwoRight button {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background-color: #5368df;
  color: white;
}

.slideThree .slideThreeLeft {
  padding-left: 60px;
  padding-top: 50px;
}

.slideThree .slideThreeRight {
  width: 30%;
  position: absolute;
  right: 100px;
  bottom: 30%;
}

.slideThree .slideThreeRight h2 {
  color: #252b46;
  padding-bottom: 10px;
}

.slideThree .slideThreeRight p {
  color: #9194a1;
}

.slideThree .slideThreeRight button {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background-color: #5368df;
  color: white;
}

.hr {
  border-top: 6px dotted #9194a1;
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.addOn .extensions {
  text-align: center;
  width: 35%;
  margin: auto;
}

.addOn .extensions h2 {
  color: #252b46;
  padding-bottom: 10px;
  padding-top: 20px;
}

.addOn .extensions p {
  color: #9194a1;
}

.addOn .extensionCards {
  text-align: center;
  width: 65%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  margin-bottom: 25px;
}

.addOn .extensionCards .chrome {
  height: 350px;
  width: 250px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 2px 2px #9194a1;
          box-shadow: 2px 2px 2px 2px #9194a1;
}

.addOn .extensionCards .chrome img {
  margin: 15px 0 25px 0;
}

.addOn .extensionCards .chrome h3 {
  color: #252b46;
}

.addOn .extensionCards .chrome p {
  color: #9194a1;
}

.addOn .extensionCards .chrome hr {
  border-top: 6px dotted #9194a1;
  background-color: #fff;
  width: 100%;
}

.addOn .extensionCards .chrome button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #5368df;
  color: white;
}

.addOn .extensionCards .chrome button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #5368df;
  color: #5368df;
}

.addOn .extensionCards .firefox {
  height: 350px;
  width: 250px;
  border-radius: 15px;
  margin: 0 50px;
  -webkit-box-shadow: 2px 2px 2px 2px #9194a1;
          box-shadow: 2px 2px 2px 2px #9194a1;
}

.addOn .extensionCards .firefox img {
  margin: 15px 0 25px 0;
}

.addOn .extensionCards .firefox h3 {
  color: #252b46;
}

.addOn .extensionCards .firefox p {
  color: #9194a1;
}

.addOn .extensionCards .firefox hr {
  border-top: 6px dotted #9194a1;
  background-color: #fff;
  width: 100%;
}

.addOn .extensionCards .firefox button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #5368df;
  color: white;
}

.addOn .extensionCards .firefox button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #5368df;
  color: #5368df;
}

.addOn .extensionCards .opera {
  height: 350px;
  width: 250px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 2px 2px #9194a1;
          box-shadow: 2px 2px 2px 2px #9194a1;
}

.addOn .extensionCards .opera img {
  margin: 15px 0 25px 0;
}

.addOn .extensionCards .opera h3 {
  color: #252b46;
}

.addOn .extensionCards .opera p {
  color: #9194a1;
}

.addOn .extensionCards .opera hr {
  border-top: 6px dotted #9194a1;
  background-color: #fff;
  width: 100%;
}

.addOn .extensionCards .opera button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #5368df;
  color: white;
}

.addOn .extensionCards .opera button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #5368df;
  color: #5368df;
}

.faq .faqTop {
  text-align: center;
  width: 35%;
  margin: auto;
}

.faq .faqTop h2 {
  color: #252b46;
  padding-bottom: 10px;
  padding-top: 20px;
}

.faq .faqTop p {
  color: #9194a1;
}

.faq .faqBar p {
  display: -ms-grid;
  display: grid;
  width: 40%;
  margin: auto;
}

.faq .faqBar .btn {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  padding: 10px;
  background-color: white;
  color: #252b46;
}
/*# sourceMappingURL=styles.css.map */