@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
//font-family: 'Rubik', sans-serif;
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayBlue: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
